.card {
  background: url(./assets/bg.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  width: 100%;
  font-family: "Great Vibes";
  font-style: oblique;
  font-weight: 400;
  text-transform: capitalize;
  justify-content: center;
  color: rgba(0, 0, 0, 0.699);
  padding: 20px;
}
#root {
  height: 100vh;
  width: 100%;
  display: grid;
  background-color: #0d0d0d;
  color: #f2f2f2;
  background-size: cover;
  padding: 20px;
  font-style: oblique;
}
.forecast_days {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px;
  padding: 0 2%;
}
.forecast_card {
  /* background-color: rgba(12, 82, 180, 0.2); */
  color: #010221;
  background-color: #f2f2f2;
  backdrop-filter: blur(10px);
  margin: 5px;
  display: grid;
  align-items: center;
  align-content: center;
  text-align: center;
  border-radius: 20px;
  text-transform: capitalize;
}
.current {
  text-align: center;
  font-size: 1.3em;
}
.input {
  padding: 10px 1.5%;
  backdrop-filter: blur(2px);
  background-color: rgba(202, 202, 202, 0.404);
  outline: none;
  border-radius: 20px;
  border: none;
  width: 300px;
}
.input_form {
  text-align: center;
}
.search_btn {
  padding: 0.4%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(202, 202, 202, 0.404);
  margin-top: 50px;
  outline: none;
  border: none;
}
.search_btn:hover {
  background-color: #594636;
}
.card_day {
  font-size: 2em;
}

/* MEDIA QUERIES */

@media (max-width: 680px) {
  #root {
    height: 100vh;
    width: 100%;
    display: grid;
    color: #97a0a6;
  }
  .forecast_days {
    grid-template-columns: repeat(2, 1fr);
  }
  .forecast_card {
    background-color: #f2f2f2;
    color: #010221;
    backdrop-filter: blur(10px);
    text-align: center;
    padding: 10px;
  }
  .current {
    padding: 10px 20%;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
  }
  .current > h1 {
    font-size: 2em;
    margin: 5px;
    font-weight: 700;
    color: #455059;
  }
  .current > h2 {
    font-size: 1em;
  }
  .input {
    width: 100%;
    padding: 10px 20px;
  }
  .search_btn {
    display: none;
  }
  .card_day {
    font-size: 1em;
  }
}

@media (max-width: 360px) {
  #root {
    padding: 20px;
    background-color: #0d0d0d;
    color: #f2f2f2;
  }
  .input_form {
    width: 100%;
    margin-top: 20px;
    padding: 0 50px;
  }
  .input {
    width: 100%;
    padding: 8px 16px;
  }
  .forecast_days {
    width: 100%;
  }
  .forecast_card {
    background-color: #f2f2f2;
    color: #010221;
  }
  .current > h1 {
    margin: 0;
  }
}
