.card {
  background: url(./assets/bg.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  width: 100%;
  font-family: "Great Vibes";
  font-style: oblique;
  font-weight: 400;
  text-transform: capitalize;
  justify-content: center;
  color: rgba(0, 0, 0, 0.699);
  padding: 20px;
}
.forecast_days {
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 10px;
  width: 100%;
  height: 100%;
}
.forecast_card {
  background-color: rgba(12, 82, 180, 0.2);
  backdrop-filter: blur(10px);
  width: 400px;
  margin: 5px;
  padding: 20px;
  display: grid;
  align-items: center;
  align-content: center;
  text-align: center;
  border-radius: 5%;
}
.current {
  padding: 20px 30%;
  text-align: center;
  font-size: 1.3em;
}
.current > h1 {
  font-size: 3rem;
}

@media (max-width: 600px) {
  .card {
    color: rgba(0, 0, 0, 0.699);
    padding: 20px;
  }
  .forecast_days {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: auto;
    width: 100%;
    height: 100%;
  }
  .forecast_card {
    background-color: rgba(12, 82, 180, 0.2);
    backdrop-filter: blur(10px);
    width: auto;
    max-height: 150px;
    margin: 5px;
    padding: 20px;
    display: grid;
    /* align-content: center; */
    text-align: center;
    border-radius: 5%;
  }
  .current {
    padding: 10px 20%;
    text-align: center;
    font-size: 1.3em;
  }
  .current > h1 {
    font-size: 2rem;
  }
  .input {
    padding: 10px 1.5%;
    backdrop-filter: blur(2px);
    background-color: rgba(202, 202, 202, 0.404);
    outline: none;
    border-radius: 20px;
    border: none;
  }
  .input_form {
    text-align: center;
    display: flex;
    grid-template-columns: repeat(2, auto);
    align-content: center;
    /* height: 40px; */
    width: 100%;
  }
  .input {
    height: 30px;
    backdrop-filter: blur(2px);
    background-color: rgba(202, 202, 202, 0.404);
    outline: none;
    border-radius: 20px;
    border: none;
  }
  .search_btn {
    display: none;
  }
}

/*
@media (max-width: 730px) {
  .forecast_days {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
  }
} */
.input {
  width: 350px;
  padding: 10px 1.5%;
  backdrop-filter: blur(2px);
  background-color: rgba(202, 202, 202, 0.404);
  outline: none;
  border-radius: 20px;
  border: none;
}
.input_form {
  text-align: center;
}
.search_btn {
  padding: 0.4%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(202, 202, 202, 0.404);
  outline: none;
  border: none;
}
.card_day {
  font-size: 2em;
}
